<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>Distant reading historical data from yahho finanse</h1>
<p> methods : GET (api/get_all, api/ticket)</p>
<p> get_all: get all records in db</p>
<p> {name_ticket:[[
    Date
	,Open
	,High
	,Low
	,Close
	,Volume
	,Dividends
	,Stock Splits ],[]...},name_ticket:[...]}</p>
<p> ticket: get history marcet data from current ticket</p>
<p> {name_ticket:[[
    Date
	,Open
	,High
	,Low
	,Close
	,Volume
	,Dividends
	,Stock Splits ],[]...}}</p>
</body>
</html>