<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h1>Distant reading historical data from yahho finanse</h1>
<br>
<p> methods : GET (api/get_all, api/ticket)</p>
<br>
<p> get_all: get all records in db</p>
<br>
<p> api/{name_ticket:[[
    Date
	,Open
	,High
	,Low
	,Close
	,Volume
	,Dividends
	,Stock Splits ],[]...},name_ticket:[...]}</p>
<p> ticket: get history marcet data from current ticket</p>
<br>

<p>api/{name_ticket:[[
    Date
	,Open
	,High
	,Low
	,Close
	,Volume
	,Dividends
	,Stock Splits ],[]...}}</p>
<br>
<p>POST</p>
<br>
<p>api/create_db/ticker:create new db on ticker.db by ticker</p>
<p>/api/upgrade/ticker:upgrade exist db on ticker.bd by ticker</p>

</body>
</html>